
h1{
	background-color: rgba(0,0,0,.4);
	padding:1em;
	float:center;
	color:#E8E8E8;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size:2em;


}

#main-title ins{
	color:#B85223;
	text-decoration:none;
}

nav a{
	color:white;
	padding:1.5em;
	background-color:none;
	text-decoration:none;

}

li{
	display:inline;
}

.nav-section{
	padding: .5em;
  	background-color: rgba(0,0,0,.4);
  	color: white;
}


footer{
	position:absolute;
	left:10px;
	bottom:-20px;
	color:black;
}